* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes rollout {
  from {
    width: 15vw;
    height: 15vw;
  }
  to {
    width: 40vw;
    height: 15vw;
  }
}

@keyframes rollout {
  from {
    width: 15vw;
    height: 15vw;
  }
  to {
    width: 40vw;
    height: 15vw;
  }
}

@-webkit-keyframes rollin {
  from {
    width: 40vw;
    height: 15vw;
  }
  to {
    width: 15vw;
    height: 15vw;
  }
}

@keyframes rollin {
  from {
    width: 40vw;
    height: 15vw;
  }
  to {
    width: 15vw;
    height: 15vw;
  }
}

.article {
  margin: 0.5vw;
  border-radius: 20vw;
  background-size: 150%;
  background-position: 40% 34%;
  width: 50vw;
  height: 25vw;
  position: relative;
}

.article__link {
  width: 50vw;
  height: 25vw;
  display: block;
  background-color: #00000083;
  border-radius: 20vw;
  position: relative;
}

.article__content {
  text-decoration: underline;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #EFA754;
  font-family: "Bebas Neue", cursive;
  font-size: 4vw;
}

.article--sub {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (0.2fr)[7];
      grid-template-rows: repeat(7, 0.2fr);
  margin: 1vw;
}

.article--sub .article__img {
  width: 25vw;
  height: 25vw;
  background-size: 150%;
  background-position: 40% 34%;
  border-radius: 20vw;
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
}

.article--sub .article__content {
  color: white;
  text-align: left;
  font-size: 2vw;
  font-family: "Source Serif Pro", serif;
  position: static;
  display: block;
  top: 0%;
  left: 0%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.article--sub .article__title {
  font-family: "Bebas Neue", cursive;
  color: #EFA754;
  text-decoration: underline;
  font-size: 3vw;
}

.article--sub:nth-of-type(1) .article__img {
  background-image: url("../images/pureemarchawkowe.jpg");
}

.article--sub:nth-of-type(2) .article__img {
  background-image: url("../images/amirali-mirhashemian-sc5sTPMrVfk-unsplash.jpg");
}

.article--sub:nth-of-type(3) .article__img {
  background-image: url("../images/asnim-ansari-SqYmTDQYMjo-unsplash.jpg");
}

.article--sub:nth-of-type(4) .article__img {
  background-image: url("../images/ella-olsson-fxJTl_gDh28-unsplash.jpg");
}

.article:nth-of-type(1) {
  background-image: url("../images/pureemarchawkowe.jpg");
}

.article:nth-of-type(2) {
  background-image: url("../images/amirali-mirhashemian-sc5sTPMrVfk-unsplash.jpg");
}

.article:nth-of-type(3) {
  background-image: url("../images/asnim-ansari-SqYmTDQYMjo-unsplash.jpg");
}

.article:nth-of-type(4) {
  background-image: url("../images/ella-olsson-fxJTl_gDh28-unsplash.jpg");
}

@media (min-width: 760px) {
  .article {
    margin: 0.5vw;
    width: 40vw;
    height: 20vw;
  }
  .article__content {
    font-size: 2vw;
  }
  .article__link {
    width: 40vw;
    height: 20vw;
  }
  .article--sub {
    margin: 1vw;
  }
  .article--sub .article__content {
    font-size: 1.5vw;
  }
  .article--sub .article__title {
    font-size: 2.5vw;
  }
}

@media (min-width: 1200px) {
  .article {
    margin: 0.5vw;
    background-size: 150%;
    background-position: 40% 34%;
    width: 15vw;
    height: 15vw;
    display: block;
    border-radius: 20vw;
    position: relative;
    -webkit-animation: rollin 1s;
            animation: rollin 1s;
  }
  .article__link {
    display: none;
  }
  .article--sub {
    width: 80%;
    margin: 0.5vw;
    -ms-grid-rows: (0.4fr)[7];
        grid-template-rows: repeat(7, 0.4fr);
  }
  .article--sub .article__img {
    width: 15vw;
    height: 15vw;
    background-size: 150%;
    background-position: 40% 34%;
    border-radius: 20vw;
  }
  .article--sub .article__content {
    font-size: 1vw;
  }
  .article--sub .article__title {
    font-size: 1.5vw;
  }
  .article:hover {
    width: 40vw;
    height: 15vw;
    -webkit-animation: rollout 1s;
            animation: rollout 1s;
  }
  .article:hover .article__link {
    -webkit-animation: rollout 1s;
            animation: rollout 1s;
    width: 40vw;
    height: 15vw;
    display: block;
    background-color: #00000083;
    border-radius: 20vw;
  }
  .article:hover .article__content {
    text-decoration: underline;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #EFA754;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5vw;
  }
}

.core-header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/monika-grabkowska-P1aohbiT-EY-unsplash.jpg");
  background-size: 150%;
  background-position: 0vw -50vw;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.core-header__titlesection {
  width: 94.5vw;
  height: 90vh;
  background: #628b8fb4;
  -webkit-box-shadow: 0 8px 32px 0 #628B8F;
          box-shadow: 0 8px 32px 0 #628B8F;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.core-header__title {
  font-size: 22vw;
  font-family: "Bebas Neue", cursive;
  color: white;
}

.core-header__link:nth-of-type(1) {
  font-family: "Bebas Neue", cursive;
  font-size: 17vw;
  color: white;
  text-decoration: none;
}

.core-header__link:nth-of-type(2) {
  font-family: "Bebas Neue", cursive;
  font-size: 17vw;
  color: white;
  text-decoration: none;
}

.core-header--subsite {
  width: 100%;
  height: 20vw;
}

.core-header--subsite .navigation {
  width: 100%;
  height: 20vw;
}

.navigation {
  background-color: #93BCC1;
  width: 100%;
  height: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navigation__pagetitle {
  -webkit-box-flex: 0.7;
      -ms-flex-positive: 0.7;
          flex-grow: 0.7;
  font-family: "Bebas Neue", cursive;
  font-size: 8vw;
  color: white;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .menu__link {
  text-decoration: none;
  color: white;
  font-family: "Bebas Neue", cursive;
  margin: 0.3em;
  font-size: 5vw;
  list-style: none;
}

@media (min-width: 760px) {
  .core-header__titlesection {
    width: 94.5vw;
    height: 90vh;
  }
  .core-header__title {
    font-size: 20vw;
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .core-header__link:nth-of-type(1) {
    font-size: 15vw;
    position: absolute;
    top: 35%;
    left: 30%;
  }
  .core-header__link:nth-of-type(2) {
    font-size: 15vw;
    position: absolute;
    bottom: 20%;
    right: 26%;
  }
  .core-header--subsite {
    width: 100%;
    height: 13vw;
  }
  .core-header--subsite .navigation {
    width: 100%;
    height: 13vw;
  }
  .navigation {
    width: 100%;
    height: 13vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation__pagetitle {
    font-size: 5vw;
  }
  .navigation__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation .menu__link {
    margin: 0.3em;
    font-size: 3vw;
  }
}

@media (min-width: 1200px) {
  .core-header {
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  .core-header__titlesection {
    width: 94.5vw;
    height: 90vh;
  }
  .core-header__title {
    font-size: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-5deg);
            transform: translate(-50%, -50%) rotate(-5deg);
  }
  .core-header__link:nth-of-type(1) {
    font-size: 5vw;
    position: absolute;
    top: 20%;
    left: 10%;
  }
  .core-header__link:nth-of-type(2) {
    font-size: 5vw;
    position: absolute;
    bottom: 20%;
    right: 10%;
  }
  .core-header--subsite {
    width: 100%;
    height: 7vw;
  }
  .core-header--subsite .navigation {
    width: 100%;
    height: 7vw;
  }
  .navigation {
    width: 100%;
    height: 7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation__pagetitle {
    font-size: 3vw;
  }
  .navigation__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation .menu__link {
    margin: 0.3em;
    font-size: 2vw;
  }
}

.main {
  background-image: url("../images/keith-misner-h0Vxgz5tyXA-unsplash.jpg");
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 3vw;
}

.main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  height: 70vh;
}

.main__title {
  font-family: "Bebas Neue", cursive;
  color: #fff;
  text-shadow: .3vw .3vw 0px #000;
  font-size: 10vw;
}

.section {
  margin: 1vw;
  padding: 5vw;
  width: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #628b8fb4;
  -webkit-box-shadow: 0 8px 32px 0 #628B8F;
          box-shadow: 0 8px 32px 0 #628B8F;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
}

.section__title {
  text-align: center;
  font-size: 5.4vw;
  font-family: "Bebas Neue", cursive;
  color: #EFA754;
}

.section__articlesection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40vw;
  margin-bottom: 1vw;
}

.section__link {
  text-decoration: underline;
  font-family: "Bebas Neue", cursive;
  font-size: 5vw;
  color: #EFA754;
}

.section__content {
  color: white;
  font-family: "Source Serif Pro", serif;
  font-size: 2.5vw;
}

.underline {
  width: 26vw;
  border-bottom: 0.6vw #EFA754 solid;
  margin-bottom: 0.9vw;
}

@media (min-width: 760px) {
  .main__form {
    width: 80vw;
    height: 70vh;
    margin: 2vw;
  }
  .section__title {
    font-size: 4vw;
  }
  .section__link {
    font-size: 3vw;
  }
  .section__content {
    font-size: 2.5vw;
  }
  .underline {
    width: 16vw;
    border-bottom: 0.3vw #EFA754 solid;
    margin-bottom: 0.9vw;
  }
}

@media (min-width: 1200px) {
  .main__form {
    width: 80vw;
    height: 65vh;
    margin: 2vw;
  }
  .main__title {
    font-size: 5vw;
  }
  .section__title {
    font-size: 2vw;
  }
  .section__link {
    font-size: 1.4vw;
  }
  .section__content {
    font-size: 1vw;
  }
  .underline {
    width: 13vw;
    border-bottom: 0.2vw #EFA754 solid;
    margin-bottom: 0.9vw;
  }
}

.core-footer {
  width: 100%;
  height: 20vw;
  background-color: #93BCC1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.core-footer__content {
  color: white;
  font-family: "Bebas Neue", cursive;
  margin: 0.3em;
  font-size: 5vw;
}

@media (min-width: 760px) {
  .core-footer {
    width: 100%;
    height: 13vw;
    background-color: #93BCC1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .core-footer__content {
    color: white;
    font-family: "Bebas Neue", cursive;
    margin: 0.3em;
    font-size: 4vw;
  }
}

@media (min-width: 1200px) {
  .core-footer {
    width: 100%;
    height: 7vw;
  }
  .core-footer__content {
    margin: 0.3em;
    font-size: 2vw;
  }
}

.page-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2vw;
}

.page-navigation__button {
  text-decoration: none;
}

.page-navigation__button .arrow__icon--left {
  width: 6vw;
}

.page-navigation__button .arrow__icon--right {
  width: 6vw;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-navigation__page-indicator {
  background-color: #DEEFED;
  width: 8.8vw;
  height: 8.8vw;
  border-radius: 3vw;
  margin: .3vw;
  position: relative;
}

.page-navigation__page-indicator--number {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Bebas Neue", cursive;
  color: #628B8F;
  font-size: 5vw;
}

.page-navigation__page-indicator:nth-of-type(1) {
  background-color: #628B8F;
}

.page-navigation__page-indicator:nth-of-type(1) .page-navigation__page-indicator--number {
  color: #DEEFED;
}

@media (min-width: 760px) {
  .page-navigation {
    margin-top: 2vw;
  }
  .page-navigation__button .arrow__icon--left {
    width: 4vw;
  }
  .page-navigation__button .arrow__icon--right {
    width: 4vw;
  }
  .page-navigation__page-indicator {
    width: 6.8vw;
    height: 6.8vw;
    border-radius: 2vw;
  }
  .page-navigation__page-indicator--number {
    font-size: 4vw;
  }
}

@media (min-width: 1200px) {
  .page-navigation__button .arrow__icon--left {
    width: 2vw;
  }
  .page-navigation__button .arrow__icon--right {
    width: 2vw;
  }
  .page-navigation__page-indicator {
    background-color: #DEEFED;
    width: 2.8vw;
    height: 2.8vw;
    border-radius: 1vw;
  }
  .page-navigation__page-indicator--number {
    font-size: 1.6vw;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.contact-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin: auto;
  width: 30vw;
  margin: .5vw;
}

.contact-form__content {
  font-family: "Bebas Neue", cursive;
  color: #fff;
  text-shadow: 2px 1px 0px #000;
  font-size: 5vw;
}

.contact-form__input {
  height: 7vw;
  padding: .5vw;
  border-radius: 3vw;
  border: none;
}

.contact-form__input--textarea {
  height: 25vw;
  border-radius: 1vw;
}

@media (min-width: 760px) {
  .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  .contact-form__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin: auto;
    width: 30vw;
    margin: 1vw;
  }
  .contact-form__content {
    font-family: "Bebas Neue", cursive;
    color: #fff;
    text-shadow: 2px 1px 0px #000;
    font-size: 4vw;
  }
  .contact-form__input {
    height: 5vw;
    padding: 1vw;
    border-radius: 3vw;
    border: none;
  }
  .contact-form__input--textarea {
    height: 20vw;
    border-radius: 1vw;
  }
}

@media (min-width: 1200px) {
  .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  .contact-form__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin: auto;
    width: 30vw;
    margin: .5vw;
  }
  .contact-form__content {
    font-family: "Bebas Neue", cursive;
    color: #fff;
    text-shadow: 2px 1px 0px #000;
    font-size: 2vw;
  }
  .contact-form__input {
    height: 3vw;
    padding: 1vw;
    border: none;
    border-radius: 3vw;
  }
  .contact-form__input--textarea {
    border-radius: 1vw;
    height: 10vw;
  }
}

.recipe__element:nth-of-type(2) {
  padding-left: 1.5vw;
  text-transform: lowercase;
}

.recipe__element:nth-of-type(3) {
  padding-left: 1.5vw;
  text-transform: lowercase;
}

.recipe__element:nth-of-type(4) {
  padding-left: 1.5vw;
  text-transform: lowercase;
}

.recipe__element:nth-of-type(5) {
  padding-left: 1.5vw;
  text-transform: lowercase;
}

.recipe__element:nth-of-type(6) {
  padding-left: 1.5vw;
  text-transform: lowercase;
}

.recipe__element:nth-of-type(7) {
  padding-left: 1.5vw;
  text-transform: lowercase;
}

.recipe__element:nth-of-type(8) {
  padding-left: 1.5vw;
  text-transform: lowercase;
}

.recipe__element:nth-of-type(9) {
  padding-left: 1.5vw;
  text-transform: lowercase;
}

.recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  position: relative;
  width: 80%;
}

.recipe__title {
  width: 50vw;
  height: 30vw;
  font-family: "Bebas Neue", cursive;
  color: #EFA754;
  font-size: 4vw;
  text-decoration: underline;
  text-align: center;
  margin: auto;
  border-radius: 20vw;
  background-color: rgba(0, 0, 0, 0.432);
  padding-top: 8vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.recipe__title--image {
  background-image: url("/images/pureemarchawkowe.jpg");
  background-size: 100%;
  background-position: 40% 34%;
  border-radius: 20vw;
  width: 50vw;
  height: 30vw;
  position: relative;
  margin: auto;
  margin-bottom: 2vw;
}

.recipe__list {
  list-style: none;
  margin-bottom: 2vw;
}

.recipe__element {
  font-size: 3vw;
  color: #fff;
  font-family: "Source Serif Pro", serif;
}

.recipe__content {
  color: #fff;
  font-family: "Source Serif Pro", serif;
  font-size: 3vw;
  text-align: center;
  margin-bottom: 2vw;
}

.recipe__content--title {
  font-size: 3.5vw;
  margin-bottom: 1vw;
  color: #fff;
  font-family: "Source Serif Pro", serif;
  text-align: center;
}

.recipe__image {
  width: 40vw;
  height: 40vw;
  position: relative;
  border-radius: 15vw;
  margin: auto;
}

.recipe .underline {
  width: 10vw;
  border-bottom: .11vw #fff solid;
  margin-top: 0.3vw;
  margin-bottom: 1.5vw;
}

@media (min-width: 1200px) {
  .recipe__title {
    width: 40vw;
    height: 15vw;
    font-size: 3vw;
    border-radius: 20vw;
    padding: 2.8vw;
  }
  .recipe__title--image {
    border-radius: 20vw;
    width: 40vw;
    height: 15vw;
    margin: auto;
    margin-bottom: 2vw;
  }
  .recipe__list {
    list-style: none;
  }
  .recipe__element {
    font-size: .9vw;
    color: #fff;
    font-family: "Source Serif Pro", serif;
  }
  .recipe__content {
    color: #fff;
    font-family: "Source Serif Pro", serif;
    font-size: .9vw;
    margin-bottom: 1vw;
  }
  .recipe__content--title {
    font-size: 1.5vw;
    margin-bottom: 1vw;
    color: #fff;
    font-family: "Source Serif Pro", serif;
  }
  .recipe__image {
    width: 13vw;
    height: 13vw;
    position: absolute;
    border-radius: 20vw;
  }
  .recipe__image:nth-of-type(1) {
    top: 20vw;
    right: 0vw;
  }
  .recipe__image:nth-of-type(2) {
    bottom: 15vw;
    right: 13vw;
  }
  .recipe__image:nth-of-type(3) {
    bottom: 0vw;
    right: 0vw;
  }
  .recipe .underline {
    width: 10vw;
    border-bottom: .11vw #fff solid;
    margin-top: 0.3vw;
    margin-bottom: 1.5vw;
  }
}

@media (min-width: 760px) {
  .recipe__title {
    font-size: 4vw;
    margin-bottom: 3vw;
    width: 50vw;
    height: 25vw;
  }
  .recipe__title--image {
    width: 50vw;
    height: 25vw;
  }
  .recipe__element {
    font-size: 2vw;
  }
  .recipe__content {
    margin-top: 1vw;
    font-size: 2vw;
    margin-bottom: 1.5vw;
  }
  .recipe__content--title {
    font-size: 2.5vw;
    margin-top: 1vw;
    margin-bottom: 1.5vw;
  }
  .recipe__image {
    width: 30vw;
    height: 30vw;
    border-radius: 20vw;
    position: relative;
    margin: auto;
  }
  .recipe .underline {
    width: 20vw;
    border-bottom: .6vw #fff solid;
    margin-top: 0.3vw;
    margin-bottom: 1.5vw;
  }
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__element {
  list-style: none;
}
/*# sourceMappingURL=main.css.map */