* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes rollout {
  from {
    width: 15vw;
    height: 15vw;
  }
  to {
    width: 40vw;
    height: 15vw;
  }
}

@keyframes rollout {
  from {
    width: 15vw;
    height: 15vw;
  }
  to {
    width: 40vw;
    height: 15vw;
  }
}

@-webkit-keyframes rollin {
  from {
    width: 40vw;
    height: 15vw;
  }
  to {
    width: 15vw;
    height: 15vw;
  }
}

@keyframes rollin {
  from {
    width: 40vw;
    height: 15vw;
  }
  to {
    width: 15vw;
    height: 15vw;
  }
}

.article {
  margin: 0.5vw;
  border-radius: 20vw;
  background-size: 150%;
  background-position: 40% 34%;
  width: 40vw;
  height: 20vw;
  position: relative;
}

.article__link {
  width: 40vw;
  height: 20vw;
  display: block;
  background-color: #00000083;
  border-radius: 20vw;
  position: relative;
}

.article__content {
  text-decoration: underline;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #EFA754;
  font-family: "Bebas Neue", cursive;
  font-size: 3.5vw;
}

.article--sub {
  width: 80%;
}

.article--sub .article__img {
  width: 20vw;
  height: 20vw;
  background-size: 150%;
  background-position: 40% 34%;
  border-radius: 20vw;
}

.article--sub .article__img:nth-of-type(1) {
  background-image: url("../images/pureemarchawkowe.jpg");
}

.article--sub .article__img:nth-of-type(2) {
  background-image: url("../images/pureemarchawkowe.jpg");
}

.article--sub .article__img:nth-of-type(3) {
  background-image: url("../images/pureemarchawkowe.jpg");
}

.article--sub .article__img:nth-of-type(4) {
  background-image: url("../images/pureemarchawkowe.jpg");
}

.article:nth-of-type(1) {
  background-image: url("../images/pureemarchawkowe.jpg");
}

.article:nth-of-type(2) {
  background-image: url("../images/amirali-mirhashemian-sc5sTPMrVfk-unsplash.jpg");
}

.article:nth-of-type(3) {
  background-image: url("../images/asnim-ansari-SqYmTDQYMjo-unsplash.jpg");
}

.article:nth-of-type(4) {
  background-image: url("../images/ella-olsson-fxJTl_gDh28-unsplash.jpg");
}

@media (min-width: 1200px) {
  .article {
    margin: 0.5vw;
    background-size: 150%;
    background-position: 40% 34%;
    width: 15vw;
    height: 15vw;
    display: block;
    border-radius: 20vw;
    position: relative;
    -webkit-animation: rollin 1s;
            animation: rollin 1s;
  }
  .article .article__link {
    display: none;
  }
  .article--sub {
    width: 80%;
  }
  .article--sub .article__img {
    width: 15vw;
    height: 15vw;
    background-size: 150%;
    background-position: 40% 34%;
    border-radius: 20vw;
  }
  .article--sub .article__img:nth-of-type(1) {
    background-image: url("../images/pureemarchawkowe.jpg");
  }
  .article--sub .article__img:nth-of-type(2) {
    background-image: url("../images/pureemarchawkowe.jpg");
  }
  .article--sub .article__img:nth-of-type(3) {
    background-image: url("../images/pureemarchawkowe.jpg");
  }
  .article--sub .article__img:nth-of-type(4) {
    background-image: url("../images/pureemarchawkowe.jpg");
  }
  .article:nth-of-type(1) {
    background-image: url("../images/pureemarchawkowe.jpg");
  }
  .article:hover {
    width: 40vw;
    height: 15vw;
    -webkit-animation: rollout 1s;
            animation: rollout 1s;
  }
  .article:hover .article__link {
    -webkit-animation: rollout 1s;
            animation: rollout 1s;
    width: 40vw;
    height: 15vw;
    display: block;
    background-color: #00000083;
    border-radius: 20vw;
  }
  .article:hover .article__link .article__content {
    text-decoration: underline;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #EFA754;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5vw;
  }
  .article:nth-of-type(2) {
    background-image: url("../images/amirali-mirhashemian-sc5sTPMrVfk-unsplash.jpg");
  }
  .article:nth-of-type(3) {
    background-image: url("../images/asnim-ansari-SqYmTDQYMjo-unsplash.jpg");
  }
  .article:nth-of-type(4) {
    background-image: url("../images/ella-olsson-fxJTl_gDh28-unsplash.jpg");
  }
}

.core-header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/monika-grabkowska-P1aohbiT-EY-unsplash.jpg");
  background-size: 150%;
  background-position: 0vw -50vw;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.core-header__titlesection {
  width: 94.5vw;
  height: 90vh;
  background: #628b8fb4;
  -webkit-box-shadow: 0 8px 32px 0 #628B8F;
          box-shadow: 0 8px 32px 0 #628B8F;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  position: relative;
}

.core-header__title {
  font-size: 20vw;
  font-family: "Bebas Neue", cursive;
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.core-header__link:nth-of-type(1) {
  font-family: "Bebas Neue", cursive;
  font-size: 15vw;
  color: white;
  position: absolute;
  top: 35%;
  left: 30%;
  text-decoration: none;
}

.core-header__link:nth-of-type(2) {
  font-family: "Bebas Neue", cursive;
  font-size: 15vw;
  color: white;
  position: absolute;
  bottom: 20%;
  right: 26%;
  text-decoration: none;
}

.core-header--subsite {
  width: 100%;
  height: 13vw;
}

.navigation {
  background-color: #93BCC1;
  width: 100%;
  height: 13vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navigation__pagetitle {
  -webkit-box-flex: 0.7;
      -ms-flex-positive: 0.7;
          flex-grow: 0.7;
  font-family: "Bebas Neue", cursive;
  font-size: 5vw;
  color: white;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .menu__link {
  text-decoration: none;
  color: white;
  font-family: "Bebas Neue", cursive;
  margin: 0.3em;
  font-size: 3vw;
  list-style: none;
}

@media (min-width: 1200px) {
  .core-header {
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  .core-header__titlesection {
    width: 94.5vw;
    height: 90vh;
  }
  .core-header__title {
    font-size: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-5deg);
            transform: translate(-50%, -50%) rotate(-5deg);
  }
  .core-header__link:nth-of-type(1) {
    font-size: 5vw;
    position: absolute;
    top: 20%;
    left: 10%;
  }
  .core-header__link:nth-of-type(2) {
    font-size: 5vw;
    position: absolute;
    bottom: 20%;
    right: 10%;
  }
  .core-header--subsite {
    width: 100%;
    height: 7vw;
  }
}

.navigation {
  width: 100%;
  height: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__pagetitle {
  font-size: 3vw;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .menu__link {
  margin: 0.3em;
  font-size: 2vw;
}

.main {
  background-image: url("../images/jon-moore-5fIoyoKlz7A-unsplash.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 3vw;
}

.section {
  margin: 1vw;
  padding: 5vw;
  width: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #628b8fb4;
  -webkit-box-shadow: 0 8px 32px 0 #628B8F;
          box-shadow: 0 8px 32px 0 #628B8F;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
}

.section .section__title {
  font-size: 4vw;
  font-family: "Bebas Neue", cursive;
  color: #EFA754;
}

.section .section__articlesection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40vw;
  margin-bottom: 1vw;
}

.section .section__link {
  text-decoration: underline;
  font-family: "Bebas Neue", cursive;
  font-size: 3vw;
  color: #EFA754;
}

.section .section__content {
  color: white;
  font-family: "Source Serif Pro", serif;
  font-size: 2.5vw;
}

.underline {
  width: 13vw;
  border-bottom: 0.2vw #EFA754 solid;
  margin-bottom: 0.9vw;
}

@media (min-width: 1200px) {
  .section .section__title {
    font-size: 2vw;
  }
  .section .section__articlesection {
    width: 40vw;
  }
  .section .section__link {
    font-size: 1.4vw;
  }
  .section .section__content {
    font-size: 1vw;
  }
  .underline {
    width: 13vw;
    border-bottom: 0.2vw #EFA754 solid;
    margin-bottom: 0.9vw;
  }
}

.core-footer {
  width: 100%;
  height: 13vw;
  background-color: #93BCC1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.core-footer__content {
  color: white;
  font-family: "Bebas Neue", cursive;
  margin: 0.3em;
  font-size: 4vw;
}

@media (min-width: 1200px) {
  .core-footer {
    width: 100%;
    height: 7vw;
  }
  .core-footer__content {
    margin: 0.3em;
    font-size: 2vw;
  }
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu__element {
  list-style: none;
}
/*# sourceMappingURL=main.css.map */