@mixin tekst() {
    color:#fff;
    font-family: $serif;
}
@for $i from 1 to 10 {
    @if $i != 1 {
        .recipe__element:nth-of-type(#{$i}){
            padding-left: 1.5vw;
            text-transform: lowercase;
        }
    }
}

.recipe{
    @include simpleflex(column, space-evenly, left);
    position: relative;
    width: 80%;
    &__title{
        @include wymiary(50vw, 30vw);
        font-family:$sans;
        color:$light-orange;
        font-size: 4vw;
        text-decoration: underline;
        text-align: center;
        margin: auto;
        border-radius: 20vw;
        background-color: rgba($color: #000000, $alpha: 0.432);
        padding-top:8vw;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &--image{
            background-image: url("/images/pureemarchawkowe.jpg");
            background-size: 100%;
            background-position: 40% 34%;
            border-radius: 20vw;
            @include wymiary(50vw, 30vw);
            position: relative;
            margin: auto;
            margin-bottom: 2vw;
        }
    }
    &__list{
        list-style: none;
        margin-bottom: 2vw;
    }
    &__element{
        font-size: 3vw;
        @include tekst();
    }
    &__content{
        @include tekst();
        font-size: 3vw;
        text-align: center;
        &--title{
            font-size: 3.5vw;
            margin-bottom: 1vw;
            @include tekst();
            text-align: center;
        }
        margin-bottom: 2vw;
    }
    &__image{
        @include wymiary(40vw,40vw);
        position: relative;
        border-radius: 15vw;
        margin: auto;
    }
    .underline{
        width: 10vw;
        border-bottom: .11vw #fff solid;
        margin-top: 0.3vw;
        margin-bottom: 1.5vw;
    }
}

@media(min-width:760px){
    .recipe{
        &__title{
            font-size: 4vw;
            margin-bottom: 3vw;
            @include wymiary(50vw, 25vw);
            &--image{
                @include wymiary(50vw, 25vw);
            }
        }
        &__element{
            font-size: 2vw;
        }
        &__content{
            margin-top:1vw;
            font-size: 2vw;
            &--title{
                font-size: 2.5vw;
                margin-top:1vw;
                margin-bottom: 1.5vw;
            }
            margin-bottom: 1.5vw;
        }
        &__image{
            @include wymiary(30vw,30vw);
            border-radius: 20vw;
            position: relative;
            margin: auto;
        }
        .underline{
            width: 20vw;
            border-bottom: .6vw #fff solid;
            margin-top: 0.3vw;
            margin-bottom: 1.5vw;
        }
    }
}
@media(min-width: 1200px){
.recipe{
    &__title{
        @include wymiary(40vw, 20vw);
        font-size: 3vw;
        border-radius: 20vw;
        padding-top: 6vw;
        &--image{
            border-radius: 20vw;
            @include wymiary(40vw, 20vw);
            margin: auto;
            margin-bottom: 2vw;
        }
    }
    &__list{
        list-style: none;
    }
    &__element{
        font-size: .9vw;
        @include tekst();
    }
    &__content{
        width: 40%;
        text-align: left;
        @include tekst();
        font-size: .9vw;
        &--title{
            text-align: left;
            font-size: 1.5vw;
            margin-bottom: 1vw;
            @include tekst();
        }
        margin-bottom: 1vw;
    }
    &__image{
        @include wymiary(13vw,13vw);
        position: absolute;
        border-radius: 20vw;
        &:nth-of-type(1){
            top: 30vw;
            right: 0vw;
        }
        &:nth-of-type(2){
            bottom: 15vw;
            right: 13vw;
        }
        &:nth-of-type(3){
            bottom: 0vw;
            right: 0vw;
        }
    }
    .underline{
        width: 10vw;
        border-bottom: .11vw #fff solid;
        margin-top: 0.3vw;
        margin-bottom: 1.5vw;
    }
    }
}