@import "../mixins/_mixins.scss";
@import "../variables/_variables.scss";

@keyframes rollout{
    from{
        @include wymiary(15vw, 15vw);
    }
    to{
        @include wymiary(40vw, 15vw);
    }
}
@keyframes rollin{
    from{
        @include wymiary(40vw, 15vw);
    }
    to{
        @include wymiary(15vw, 15vw);
    }
}

.article{
    margin: 0.5vw;
    border-radius: 20vw;
    background-size: 150%;
    background-position: 40% 34%;
    @include wymiary(40vw, 20vw);
    position:relative;
    &__link{
        @include wymiary(40vw, 20vw);
        display: block;
        background-color: #00000083;
        border-radius: 20vw;
        position:relative;
    }
    &__content{
        text-decoration: underline;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        color: $light-orange;
        font-family: $sans;
        font-size: 3.5vw;
    }
    &--sub{
        width:80%;
        .article__img{
            @include wymiary(20vw,20vw);
            background-size: 150%;
            background-position: 40% 34%;
            border-radius: 20vw;
            &:nth-of-type(1){
                background-image: url("../images/pureemarchawkowe.jpg");
            }
            &:nth-of-type(2){
                background-image: url("../images/pureemarchawkowe.jpg");
            }
            &:nth-of-type(3){
                background-image: url("../images/pureemarchawkowe.jpg");
            }
            &:nth-of-type(4){
                background-image: url("../images/pureemarchawkowe.jpg");
            }
        }
        
    }
    &:nth-of-type(1){
        background-image: url("../images/pureemarchawkowe.jpg");
    }
    &:nth-of-type(2){
        background-image: url("../images/amirali-mirhashemian-sc5sTPMrVfk-unsplash.jpg");
    }
    &:nth-of-type(3){
        background-image: url("../images/asnim-ansari-SqYmTDQYMjo-unsplash.jpg");
    }
    &:nth-of-type(4){
        background-image: url("../images/ella-olsson-fxJTl_gDh28-unsplash.jpg");
    }
}

@media(min-width:1200px){
.article{
    margin: 0.5vw;
    background-size: 150%;
    background-position: 40% 34%;
    @include wymiary(15vw, 15vw);
    display: block;
    border-radius: 20vw;
    position: relative;
    animation: rollin 1s;
    &__link{
        display: none;
    }
    &--sub{
        width:80%;
        .article__img{
            @include wymiary(15vw,15vw);
            background-size: 150%;
            background-position: 40% 34%;
            border-radius: 20vw;
            &:nth-of-type(1){
                background-image: url("../images/pureemarchawkowe.jpg");
            }
            &:nth-of-type(2){
                background-image: url("../images/pureemarchawkowe.jpg");
            }
            &:nth-of-type(3){
                background-image: url("../images/pureemarchawkowe.jpg");
            }
            &:nth-of-type(4){
                background-image: url("../images/pureemarchawkowe.jpg");
            }
        }

        
    }
    &:hover{
        @include wymiary(40vw, 15vw);
        animation: rollout 1s;
        .article__link{
            animation: rollout 1s;
            @include wymiary(40vw, 15vw);
            display: block;
            background-color: #00000083;
            border-radius: 20vw;
        }
        .article__content{
            text-decoration: underline;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            color: $light-orange;
            font-family: $sans;
            font-size: 1.5vw;
        }
    }
    &:nth-of-type(1){
        background-image: url("../images/pureemarchawkowe.jpg");
    }
    &:nth-of-type(2){
        background-image: url("../images/amirali-mirhashemian-sc5sTPMrVfk-unsplash.jpg");
    }
    &:nth-of-type(3){
        background-image: url("../images/asnim-ansari-SqYmTDQYMjo-unsplash.jpg");
    }
    &:nth-of-type(4){
        background-image: url("../images/ella-olsson-fxJTl_gDh28-unsplash.jpg");
    }
}



}