@import "../mixins/_mixins.scss";
@import "../variables/_variables.scss";
.article:nth-of-type(1){
    background-image: url("../images/pureemarchawkowe.jpg");
    background-size: 150%;
    background-position: 40% 34%;
    @include wymiary(20vw, 20vw);
    display: block;
    border-radius: 20vw;
    position: relative;
    .article__link{
        display: none;
    }
}.article:nth-of-type(1):hover{
    background-image: url("../images/pureemarchawkowe.jpg");
    background-size: 150%;
    background-position: 40% 34%;
    @include wymiary(40vw, 20vw);
    display: block;
    border-radius: 20vw;
    position: relative;
    .article__link{
        @include wymiary(40vw, 20vw);
        display: block;
        background-color: #00000069;
        border-radius: 20vw;
        .article__content{
            text-decoration: none;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            color: $light-orange;
            font-family: $sans;
            font-size: 1.5vw;
        }
    }
}
.article:nth-of-type(2){
    background-image: url("../images/pureemarchawkowe.jpg");
    background-size: 150%;
    background-position: 40% 34%;
    @include wymiary(20vw, 20vw);
    display: block;
    border-radius: 20vw;
    position: relative;
    .article__link{
        display: none;
    }
}.article:nth-of-type(2):hover{
    background-image: url("../images/pureemarchawkowe.jpg");
    background-size: 150%;
    background-position: 40% 34%;
    @include wymiary(40vw, 20vw);
    display: block;
    border-radius: 20vw;
    position: relative;
    .article__link{
        @include wymiary(40vw, 20vw);
        display: block;
        background-color: #00000069;
        border-radius: 20vw;
        .article__content{
            text-decoration: none;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            color: $light-orange;
            font-family: $sans;
            font-size: 1.5vw;
        }
    }
}
.article:nth-of-type(3){
    background-image: url("../images/pureemarchawkowe.jpg");
    background-size: 150%;
    background-position: 40% 34%;
    @include wymiary(20vw, 20vw);
    display: block;
    border-radius: 20vw;
    position: relative;
    .article__link{
        display: none;
    }
}.article:nth-of-type(3):hover{
    background-image: url("../images/pureemarchawkowe.jpg");
    background-size: 150%;
    background-position: 40% 34%;
    @include wymiary(40vw, 20vw);
    display: block;
    border-radius: 20vw;
    position: relative;
    .article__link{
        @include wymiary(40vw, 20vw);
        display: block;
        background-color: #00000069;
        border-radius: 20vw;
        .article__content{
            text-decoration: none;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            color: $light-orange;
            font-family: $sans;
            font-size: 1.5vw;
        }
    }
}
.article:nth-of-type(4){
    background-image: url("../images/pureemarchawkowe.jpg");
    background-size: 150%;
    background-position: 40% 34%;
    @include wymiary(20vw, 20vw);
    display: block;
    border-radius: 20vw;
    position: relative;
    .article__link{
        display: none;
    }
}.article:nth-of-type(4):hover{
    background-image: url("../images/pureemarchawkowe.jpg");
    background-size: 150%;
    background-position: 40% 34%;
    @include wymiary(40vw, 20vw);
    display: block;
    border-radius: 20vw;
    position: relative;
    .article__link{
        @include wymiary(40vw, 20vw);
        display: block;
        background-color: #00000069;
        border-radius: 20vw;
        .article__content{
            text-decoration: none;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            color: $light-orange;
            font-family: $sans;
            font-size: 1.5vw;
        }
    }
}